<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SysOdonto1.Properties.Settings.sysodontoConnectionString"
            connectionString="Host=localhost;Database=sysodonto;Username=sa_sysodonto;Password=saciperere;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>